/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", "Trebuchet MS", "Verdana", "Helvetica", "Arial";
  background: rgba(255, 241, 227, 0.5);
}

.phone {
  width: 340px;
  height: 580px;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
  background-image: url("../assets/home.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  padding: 2rem;
  margin: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 241, 227, 0.85);
}

button {
  border: none;
  width: 2rem;
  height: 2rem;
  background: none;
}
button:focus {
  outline: none;
}

h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

p {
  text-indent: 1rem;
  margin-bottom: 1rem;
}

a {
  color: black;
}

.nav-item:hover a {
  color: rgba(85, 50, 29, 0.65);
}
.nav-item i {
  position: relative;
  left: 0.25rem;
  margin-right: 0.75rem;
  font-size: 1.125rem;
  color: rgba(85, 50, 29, 0.65);
}

.nav-button {
  font-size: 1.25rem;
  cursor: pointer;
}
.nav-button:hover {
  color: rgba(85, 50, 29, 0.65);
}

.nav-button {
  position: absolute;
}
.nav-button--open {
  top: 1rem;
  left: 1rem;
  border-radius: 1.5px;
  background: rgba(255, 241, 227, 0.85);
}
.nav-button--close {
  top: 0.5rem;
  right: 0.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background: #fcf4ec;
  z-index: 1;
  border: 1px solid #000;
  transform: translateX(-100%);
  transition: 0.5s ease;
}

.nav-item {
  padding: 0.6rem 1rem;
}
.nav-brand {
  align-self: center;
}
.nav-category {
  border-bottom: 1px solid rgba(85, 50, 29, 0.25);
  padding: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
